# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Docker
**/node_modules
**/__pycache__
*.log

# Kubernetes
.kube/
*.kubeconfig

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem
*.key
