trigger: none
pr: none


pool:
  vmImage: ubuntu-latest

steps:
  - checkout: self
  - task: TerraformInstaller@1
    inputs:
      terraformVersion: 'latest'

  - task: TerraformCLI@1
    inputs:
      command: 'init'
      workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
      allowTelemetryCollection: true

  - task: TerraformCLI@1
    inputs:
      command: 'plan'
      workingDirectory: '$(System.DefaultWorkingDirectory)/terraform'
      allowTelemetryCollection: true