trigger:
- main

stages:
- stage: Terraform
  displayName: Terraform Infrastructure
  jobs:
  - job: Terraform
    displayName: Terraform Apply
    pool:
      vmImage: ubuntu-latest

    steps:
    - checkout: self

    - task: TerraformInstaller@1
      displayName: Install Terraform
      inputs:
        terraformVersion: '1.6.6'

    - task: TerraformTaskV4@4
      displayName: Terraform Init
      inputs:
        provider: 'aws'
        command: 'init'
        workingDirectory: 'terraform/dev'
        backendServiceAWS: 'aws-devops-connection'
        backendAWSBucketName: 'devops-terraform-state-bucket1'
        backendAWSKey: 'eks/dev/terraform.tfstate'
        backendAWSRegion: 'eu-west-1'

    - task: TerraformTaskV4@4
      displayName: Terraform Plan
      inputs:
        provider: 'aws'
        command: 'plan'
        workingDirectory: 'terraform/dev'
        environmentServiceNameAWS: 'aws-devops-connection'

    - task: TerraformTaskV4@4
      displayName: Terraform Apply
      inputs:
        provider: 'aws'
        command: 'apply'
        workingDirectory: 'terraform/dev'
        environmentServiceNameAWS: 'aws-devops-connection'
        commandOptions: '-auto-approve'
