trigger:
- main

variables:
- group: aws-credentials

stages:
- stage: Terraform
  displayName: Terraform Infrastructure
  jobs:
  - job: terraform
    pool:
      vmImage: ubuntu-latest

    steps:
    - checkout: self

    - task: TerraformInstaller@1
      displayName: Install Terraform
      inputs:
        terraformVersion: '1.6.6'

    - script: |
        cd terraform/envs/dev
        terraform init
      displayName: Terraform Init

    - script: |
        cd terraform/envs/dev
        terraform plan
      displayName: Terraform Plan

    - script: |
        cd terraform/envs/dev
        terraform apply -auto-approve
      displayName: Terraform Apply
