trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  TF_VERSION: '1.6.6'

stages:
- stage: Terraform
  displayName: Terraform Infrastructure
  jobs:
  - job: TerraformJob
    displayName: Terraform Apply
    steps:

    - checkout: self

    - task: TerraformInstaller@1
      displayName: Install Terraform
      inputs:
        terraformVersion: $(TF_VERSION)

    - script: terraform --version
      displayName: Verify Terraform

    - script: |
        cd terraform/dev
        terraform init
      displayName: Terraform Init

    - script: |
        cd terraform/dev
        terraform plan
      displayName: Terraform Plan
